.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.item {
  margin-right: 15px;
  text-align: center;
}

.img {
  height: auto;
}

.title {
  color: rgb(174, 174, 218);
  margin: 0;
  font-size: 14px;
}

.subTitle {
  color: rgb(156, 161, 125);
  font-size: 12px;
  margin: 0 0 15px 0;
}

.text {
  font-size: 12px;
  margin: 0;
}